* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(0, 0%, 94%);
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: hsl(0, 0%, 100%);
  width: fit-content;
  padding: 20px;
  border-radius: 5px 5px 50px 5px;
  -webkit-border-radius: 5px 5px 50px 5px;
  -moz-border-radius: 5px 5px 50px 5px;
  -ms-border-radius: 5px 5px 50px 5px;
  -o-border-radius: 5px 5px 50px 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

form .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.779);
  padding-bottom: 35px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form .container .input-container input {
  padding: 8px;
  width: 70px;
}

label {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.779);
}

form button {
  align-self: flex-end;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background: hsl(259, 100%, 65%);
  padding: 10px;
  margin-top: -55px;
}

form button img {
  width: 25px;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: small;
}

.your-age ul li {
  font-size: 32px;
  font-weight: 800;
  color: hsl(0, 0%, 8%);
}

.your-age ul li span {
  color: hsl(259, 100%, 65%);
}

.error {
  color: (0, 100%, 67%);
}

@media (max-width: 768px) {
  form .container .input-container input {
    width: 50px;
    padding: 6px;
  }
}
